{% extends "base.html" %}

{% block title %}Углубленное изучение - Физматус{% endblock %}

{% block content %}
    <h1>Углубленное изучение</h1>
    <p>Выберите предмет для углубленного изучения:</p>
    <div class="list-group">
        <a href="/advanced/math" class="list-group-item list-group-item-action">Математика</a>
        <a href="/advanced/phys" class="list-group-item list-group-item-action">Физика</a>
        <a href="/advanced/inf" class="list-group-item list-group-item-action">Информатика</a>
    </div>
{% endblock %}