{% extends "base.html" %}

{% block title %}Подготовка к ЕГЭ - Физматус{% endblock %}

{% block content %}
    <h1>Подготовка к ЕГЭ</h1>
    <p>Выберите предмет для подготовки:</p>
    <div class="list-group">
        <a href="/ege/math" class="list-group-item list-group-item-action">Математика</a>
        <a href="/ege/phys" class="list-group-item list-group-item-action">Физика</a>
        <a href="/ege/inf" class="list-group-item list-group-item-action">Информатика</a>
    </div>
{% endblock %}