<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Физматус</title>
    <link href="/static/styles_main.css" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="centered-block">
            <div class="logo-container">
                <img src="/static/img/logo.png" alt="Физматус" class="big-logo">
            </div>
            <div class="button-container">
                <a href="/ege" class="main-button">Подготовка к ЕГЭ</a>
                <a href="/advanced" class="main-button">Углубленное изучение</a>
            </div>
        </div>
    </div>
</body>
</html>